/***
    title: Flex
    section: Grid
    description: Use to align elements in rows and columns. Perfect for use on ul/li setups or indeed any parent/child markup. Use bp--modifiers to set number of columns in different widths. Customize gutter and breakpoints in config file. You can also use ul {@include flex-grid(3)}.
    example:
        <ul class="flex--2--tablet flex--3--laptop">
            <li><img src="http://placehold.it/320x240" class="img--wide"> I'm two columns</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> In low resolution</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> But three columns</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> In high</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> Resolutions</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> Cool?</li>
        </ul>
***/
// Remove potential list style and margin
// in case flex--* is used on an unordered list
ul[class*="flex--"] {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

// Make sure flex items have margin bottom(?)
[class*="flex--"] {
	> * {
		margin-bottom: $gutter-default;
	}
}

// Create flex--X classes for all specified column counts
@for $num from 2 through $num-cols {
	.flex--#{$num} {
		@include flex-grid($num, $gutter-default);
	}
}

// Create flex--X--Y classes for all specified column counts and breakpoints
@each $bp-name, $bp in $breakpoints {
	@for $num from 2 through $num-cols {
		@media #{$bp} {
			.flex--#{$num}--#{$bp-name} {
				@include flex-grid($num, $gutter-default);
			}
		}
	}
}


// Fill in flex "gaps"
@each $bp-name, $bp in $breakpoints {
	@for $num from 3 through $num-cols {
		@media #{$bp} {
			.flex--#{$num}--#{$bp-name} {
				&::before,
				&::after {
					@include flex-grid-item($num, $gutter-default);

					margin: 0;
					order: 9999;
				}
			}
		}
	}
}
