$num-cols: 4 !default;

.grid,
[class*="grid--"] {
	@include grid;
}

@for $i from 2 through $num-cols {
	.grid--#{$i} {
		--grid-cols: #{$i};
	}
}

@media (--tablet) {
	@for $i from 2 through $num-cols {
		.grid--#{$i}--tablet {
			--grid-cols: #{$i};
		}
	}
}

@media (--laptop) {
	@for $i from 2 through $num-cols {
		.grid--#{$i}--laptop {
			--grid-cols: #{$i};
		}
	}
}
