/***
    title: Group
    section: Layout
    description: Use this class to add margin-bottom to an element.
    example:
        <div class="card bg--white group--x-large">
            <h2>I have margin</h2>
            <p>More than usual</p>
        </div>
***/
.group {
	margin-bottom: $spacing-default;

	&--large {
		margin-bottom: $spacing-large;
	}

	&--x-large {
		margin-bottom: $spacing-x-large;
	}
}
