/***
    title: Hero
    section: Layout
    description: A full width section with loads of padding and white text. This is a typical UI component in modern websites and is often displayed at the top of the page.
    example:
        <header class="hero">
            <h2>I'm a hero</h2>
            <p>With some content</p>
            <figure><img src="http://placehold.it/1920x1080"></figure>
        </header>
***/
.hero {
	@include hero;

	&.text--center,
	.text--center & {
		@include hero($site-width, true);
	}
}
