/***
    title: Inline Grid
    section: Grid
    description: Uses inline-block to create a grid. Useful if you dynamically toggle elemens in the grid and need them to adapt to new positions. Note that @inline-grid sets the child element's font-size back to $font-size-default.
    example:
        <ul class="inline-grid inline-grid--2--bp-tablet"><li>Two column grid</li><li>Two column grid</li><li>Two column grid</li><li>Two column grid</li></ul>
***/
.inline-grid {
	@include inline-grid(1);
}

ul.inline-grid,
ul[class*="inline-grid--"] {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

@each $num-name, $num in $col-nums {
	.inline-grid--#{$num-name} > * {
		width: calc(#{100% / $num} - #{$gutter-default});
	}
}

@each $bp-name, $bp in $col-breakpoints {
	@each $num-name, $num in $col-nums {
		@media #{$bp} {
			.inline-grid--#{$num-name}--#{$bp-name} > * {
				width: calc(#{100% / $num} - #{$gutter-default});
			}
		}
	}
}
