/***
    title: Popup
    section: Popup
    description: Use to create a popup. Works well with popup.js but isn't necessarily required.
    example:
        <a href="#my-popup">Open popup</a>
        <div class="popup" id="my-popup">
            <div class="popup__content">
                <a href="#" class="popup__close">&times;</a>
                <h2>I'm a popup</h2>
                <p>Built with CSS.</p>
            </div>
        </div>
***/
html.popup-open,
html.popup-open body {
	overflow: hidden;
	// TODO: touch-action: none; (https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action)
}

.popup {
	background: $overlay-color;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 100; // Make sure it's on top of 99s

	overflow: auto;

	// This seems good for iOS http://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-scrolling#comment-37687418
	-webkit-overflow-scrolling: touch;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: $section-padding 0;

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0s .2s linear, opacity .2s 0s $transition-easing;

	// When open
	&:target,
	&.open {
		transition: transform 0s 0s linear, opacity .2s 0s $transition-easing;
		opacity: 1;
		transform: translateY(0);
	}

	// Close button
	&__close {
		position: fixed;
		right: $padding-large;
		top: $padding-large;
		z-index: 1;

		font-size: 3rem;
		line-height: 1rem;
		color: map-get($colors, white);
		text-decoration: none;

		&:hover {
			color: map-get($colors, white);
			text-decoration: none;
		}
	}

	// The actual box
	&__content {
		background: map-get($colors, white);

		width: 95%;
		max-width: 50rem;

		position: relative;
		margin: auto;
		padding: $padding-large;

		// If close button is inside the box
		.popup__close {
			position: absolute;
			color: inherit;

			&:hover {
				color: inherit;
			}
		}
	}
}
