// Float classes
.alignleft,
.alignright,
.alignnone,
.aligncenter {
//	display: block;
//	width: 100%;
//	margin-bottom: $margin-default;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix {
	@include clearfix;
}

.clear {
	clear: both;
}

.aligncenter {
	display: block;
	margin: 0 auto $margin-default;
}

@media #{$bp-medium} {
	.alignleft {
		float: left;
		width: auto;
		margin: 0 $margin-default $margin-default 0;
	}

	.alignright {
		float: right;
		width: auto;
		margin: 0 0 $margin-default $margin-default;
	}
}

// Image with caption
.wp-caption {
	figcaption {
		margin-top: $margin-default;
		text-align: center;
		font-style: italic;
	}
}

// Gallery
div.gallery {
	dl,
	dt,
	dd {
		margin: 0;
	}

	dl {
		position: relative;

		dt {
			img {
				display: block;
				width: 100%;
			}
		}

		dd {
			background: $color-overlay;

			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;

			padding: $padding-default;

			color: $color-white;
		}
	}

	// The columns (but only if it hasn't been converted to slideshow)
	&:not(.is-slideshow) {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;

		> * {
			flex: 0 0 50%;
		}

		@media #{$bp-medium} {
			@for $i from 1 through 9 {
				&.gallery-columns-#{$i} {
					> * {
						flex: 0 0 #{100% / $i};
					}
				}
			}
		}
	}
}
