// Float classes
.alignleft,
.alignright,
.alignnone,
.aligncenter {
//	display: block;
//	width: 100%;
//	margin-bottom: $margin-default;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix {
	@include clearfix;
}

.clear {
	clear: both;
}

.aligncenter {
	display: block;
	margin: 0 auto $margin-default;
}

@media #{$bp-medium} {
	.alignleft {
		float: left;
		width: auto;
		margin: 0 $margin-default $margin-default 0;
	}

	.alignright {
		float: right;
		width: auto;
		margin: 0 0 $margin-default $margin-default;
	}
}
