$bp-tablet: '(min-width: 600px)' !default;
$bp-tablet-max: '(max-width: 599px)' !default;

$bp-laptop: '(min-width: 1000px)' !default;
$bp-laptop-max: '(max-width: 999px)' !default;

$bp-desktop: '(min-width: 1200px)' !default;
$bp-desktop-max: '(max-width: 1199px)' !default;
