$bp-tablet: "(min-width: 600px)" !default;
$bp-tablet-max: "(max-width: 599px)" !default;

$bp-laptop: "(min-width: 1080px)" !default;
$bp-laptop-max: "(max-width: 1079px)" !default;

$bp-desktop: "(min-width: 1260px)" !default;
$bp-desktop-max: "(max-width: 1259px)" !default;
