// Specific colors
$body-bg: #fff !default;
$border-color: #dedede !default;
$overlay-color: rgba(0, 0, 0, .4) !default;
$white: #fff !default;

// Define your general colors here, they may be gradients (by passing in 2 colors)
// Every color defined will be available in bg--, button--, icon-- etc components
$colors: (
	lightgray: #fafafa,
	gray: #bbb,
	darkgray: #777,

	white: #fff,
	black: #000,

	facebook: #3b5998,
	twitter: #4099FF,
	linkedin: #0077b5,

	disabled: #bbb,
	gradient: (red, green)
) !default;
