$color-body-bg: #fff !default;

$color-border: #bbb !default;
$color-shadow: rgba(0, 0, 0, .2) !default;
$color-overlay: rgba(0, 0, 0, .4) !default;

$color-lightgray: #eaeaea !default;
$color-gray: #aaa !default;
$color-darkgray: #666 !default;

$color-white: #fff !default;
$color-black: #000 !default;

$color-facebook: #3b5998 !default;
$color-twitter: #4099FF !default;
$color-linkedin: #0077b5 !default;

// Add more colors as needed...
// $color-red: #600 etc...

// Define more to use bg--black etc
$bg-colors: (
	"white": $color-white,
	"lightgray": $color-lightgray
) !default;

// Add more to use .color--red etc
$text-colors: (
	"white": $color-white,
	"gray": $color-gray
) !default;

// Add more to use .icon--red etc
$icon-colors: (
	"lightgray": $color-lightgray
) !default;

// Add more to use .button--green etc
$button-colors: (
	"white": $color-white,
	"disabled": $color-gray
) !default;
