// Specific colors
$body-bg: #fff !default;
$border-color: #dedede !default;
$overlay-color: rgba(0, 0, 0, .4) !default;

$white: #fff !default;
$black: #000 !default;

// Define your general colors here, they may be gradients (by passing in 2 colors)
// Every color defined will be available in bg--, button--, icon-- etc components
// NOTE: Don't remove any of these - they are used by SleekCSS
$colors: (
	lightgray: #fafafa,
	gray: #bbb,
	darkgray: #777,

	white: #fff,
	black: #000,

	facebook: #3b5998,
	twitter: #4099FF,
	linkedin: #0077b5,

	disabled: #bbb,
	error: #f00,
	success: #0f0,
	warning: #f90,

	// Examples - not in use
	primary: #369,
	secondary: #06f,
	gradient: (red, green)
) !default;
