// Background and text colors
$form-field-bg: #fff !default;
$form-success-color: #060 !default;
$form-error-color: #900 !default;
$form-placeholder-color: #bbb !default;
$form-text-color: #333 !default;

// Padding
$form-padding-horizontal: $button-padding-vertical !default;
$form-padding-vertical: $button-padding-vertical !default;

// Border
$form-border: true !default;
$form-border-radius: .2rem !default;

// Select elements
$form-select-arrow: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTYgOC40Ij48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDIzNjApIj48cGF0aCBkPSJNMC0yMzU5LjZjMC0wLjEsMC0wLjIsMC4xLTAuM2MwLjItMC4yLDAuNC0wLjIsMC42LDBsNy4zLDcuM2w3LjMtNy4zYzAuMi0wLjIsMC40LTAuMiwwLjYsMGMwLjIsMC4yLDAuMiwwLjQsMCwwLjZsLTcuNiw3LjZjLTAuMiwwLjItMC40LDAuMi0wLjYsMGwtNy42LTcuNkMwLTIzNTkuNCwwLTIzNTkuNSwwLTIzNTkuNkwwLTIzNTkuNnoiLz48L2c+PC9zdmc+" !default; // Set to false to have unstyled select elements
$form-select-arrow-size: .5rem !default;

// Range inputs
$form-range-color-lower: #bbb !default;
$form-range-color-upper: #ddd !default;
$form-range-height: .25rem !default;
$form-range-border: false !default;
$form-range-border-radius: .25rem !default;

$form-range-thumb-bg: #1FBB82 !default;
$form-range-thumb-radius: 1rem !default;
$form-range-thumb-border: false !default;
$form-range-thumb-border-radius: 50% !default;
$form-range-thumb-shadow: true !default;
