// Background and text colors
$color-form-field-bg: #fff !default;
$color-form-success: #060 !default;
$color-form-error: #900 !default;
$color-form-placeholder: #bbb !default;
$color-form-text: #333 !default;

// Padding
$form-padding-horizontal: $button-padding-vertical !default;
$form-padding-vertical: $button-padding-vertical !default;

// Border
$form-border: true !default;
$form-border-radius: .2rem !default;

// Select elements
$form-select-arrow: "assets/svg/select-arrow.svg" !default; // Set to false to have unstyled select elements
$form-select-arrow-size: .5rem !default;

// Range inputs
$form-range-color-lower: #bbb !default;
$form-range-color-upper: #ddd !default;
$form-range-height: .25rem !default;
$form-range-border: false !default;
$form-range-border-radius: .25rem !default;

$form-range-thumb-bg: #1FBB82 !default;
$form-range-thumb-radius: 1rem !default;
$form-range-thumb-border: false !default;
$form-range-thumb-border-radius: 50% !default;
$form-range-thumb-shadow: true !default;
