// Site widths
$site-width: 960px !default; // Max width
$site-width-min: 90% !default; // Width before reaching max

// Margins (margins beneath elements)
$margin-small: .5rem !default;
$margin-default: 1rem !default;
$margin-large: 2rem !default;
$margin-x-large: 4rem !default;

// Paddings (inner padding of boxes)
$padding-small: .5rem !default;
$padding-default: 1rem !default;
$padding-large: 2rem !default;
$padding-x-large: 4rem !default;

// Gutters (margin between columns)
$gutter-default: 1.5rem !default;
$gutter-large: 3rem !default;

// .primary-content's width
$primary-content-width: 70% !default;

// Section paddings
$section-padding: 3rem !default;
$section-slant: 3rem !default;

// Transition speeds
$transition-easing: ease-out !default;
$transition-fast: .1s !default;
$transition-default: .2s !default;
$transition-slow: .4s !default;
