// Max site width (@container and @section use this)
$site-width-max: 960px !default;
$site-width: 90% !default;
$site-padding: (100% - $site-width) / 2; // NOTE: Don't change this

// Margins (margins beneath elements)
$margin-small: .5rem !default;
$margin-default: 1rem !default;
$margin-large: 2rem !default;
$margin-x-large: 4rem !default;

// Paddings (inner padding of boxes)
$padding-small: .5rem !default;
$padding-default: 1rem !default;
$padding-large: 2rem !default;
$padding-x-large: 4rem !default;

// Gutters (margin between columns)
$gutter-default: 1.5rem !default;
$gutter-large: 3rem !default;

// .primary-content's width
$primary-content-width: 70% !default;

// Section paddings
$section-padding: 3rem !default;
$section-slant: 3rem !default;

// Transition speeds
$transition-easing: ease-out !default;
$transition-fast: .1s !default;
$transition-default: .2s !default;
$transition-slow: .4s !default;

// Slant polygons (NOTE: you probably don't want to change these)
$top-slant: polygon(0 #{$section-slant}, 100% 0, 100% 100%, 0 100%);
$bottom-slant: polygon(0 0, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%);
$top-bottom-slant: polygon(0 #{$section-slant}, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%);
