// Site widths
$site-width: 960px !default; // Max width
$site-width-min: 85% !default; // Width before reaching max

// Margins (margins beneath elements)
$margin-small: .75rem !default;
$margin-default: 1.5rem !default;
$margin-large: 3rem !default;
$margin-x-large: 4rem !default;

// Paddings (inner padding of boxes)
$padding-small: .75rem !default;
$padding-default: 1.5rem !default;
$padding-large: 3rem !default;
$padding-x-large: 4rem !default;

// Gutters (margin between columns)
$gutter-default: 2rem !default;
$gutter-large: 4rem !default;

// .primary-content's width
$primary-content-width: 70% !default;

// Section paddings
$section-padding: 6rem !default;
$section-slant: 4rem !default;

// Transition speeds
$transition-easing: cubic-bezier(0.125, 0.75, 0.415, 1) !default;
$transition-fast: .15s !default;
$transition-default: .25s !default;
$transition-slow: .5s !default;

// Max number of col classes
$num-cols: 3 !default;
