// https://github.com/blakeembrey/just-css-properties
@mixin all-properties ($value: unset, $important: false) {
	$imp: "";

	@if $important {
		$imp: " !important";
	}

	--in-content-border-color: $value#{$imp};
	--in-content-border-focus: $value#{$imp};
	--in-content-border-highlight: $value#{$imp};
	--in-content-box-background: $value#{$imp};
	--in-content-box-background-active: $value#{$imp};
	--in-content-box-background-hover: $value#{$imp};
	--in-content-box-background-odd: $value#{$imp};
	--in-content-box-border-color: $value#{$imp};
	--in-content-category-background: $value#{$imp};
	--in-content-category-background-active: $value#{$imp};
	--in-content-category-background-hover: $value#{$imp};
	--in-content-category-border-focus: $value#{$imp};
	--in-content-category-text: $value#{$imp};
	--in-content-category-text-selected: $value#{$imp};
	--in-content-header-border-color: $value#{$imp};
	--in-content-item-hover: $value#{$imp};
	--in-content-item-selected: $value#{$imp};
	--in-content-link-color: $value#{$imp};
	--in-content-link-color-active: $value#{$imp};
	--in-content-link-color-hover: $value#{$imp};
	--in-content-link-color-visited: $value#{$imp};
	--in-content-page-background: $value#{$imp};
	--in-content-page-color: $value#{$imp};
	--in-content-primary-button-background: $value#{$imp};
	--in-content-primary-button-background-active: $value#{$imp};
	--in-content-primary-button-background-hover: $value#{$imp};
	--in-content-selected-text: $value#{$imp};
	--in-content-tab-color: $value#{$imp};
	--in-content-table-border-dark-color: $value#{$imp};
	--in-content-table-header-background: $value#{$imp};
	--in-content-text-color: $value#{$imp};
	-moz-appearance: $value#{$imp};
	-moz-binding: $value#{$imp};
	-moz-border-bottom-colors: $value#{$imp};
	-moz-border-left-colors: $value#{$imp};
	-moz-border-right-colors: $value#{$imp};
	-moz-border-top-colors: $value#{$imp};
	-moz-box-align: $value#{$imp};
	-moz-box-direction: $value#{$imp};
	-moz-box-flex: $value#{$imp};
	-moz-box-ordinal-group: $value#{$imp};
	-moz-box-orient: $value#{$imp};
	-moz-box-pack: $value#{$imp};
	-moz-column-count: $value#{$imp};
	-moz-column-fill: $value#{$imp};
	-moz-column-gap: $value#{$imp};
	-moz-column-rule-color: $value#{$imp};
	-moz-column-rule-style: $value#{$imp};
	-moz-column-rule-width: $value#{$imp};
	-moz-column-width: $value#{$imp};
	-moz-float-edge: $value#{$imp};
	-moz-force-broken-image-icon: $value#{$imp};
	-moz-hyphens: $value#{$imp};
	-moz-image-region: $value#{$imp};
	-moz-orient: $value#{$imp};
	-moz-osx-font-smoothing: $value#{$imp};
	-moz-outline-radius-bottomleft: $value#{$imp};
	-moz-outline-radius-bottomright: $value#{$imp};
	-moz-outline-radius-topleft: $value#{$imp};
	-moz-outline-radius-topright: $value#{$imp};
	-moz-stack-sizing: $value#{$imp};
	-moz-tab-size: $value#{$imp};
	-moz-text-align-last: $value#{$imp};
	-moz-text-decoration-color: $value#{$imp};
	-moz-text-decoration-line: $value#{$imp};
	-moz-text-decoration-style: $value#{$imp};
	-moz-text-size-adjust: $value#{$imp};
	-moz-user-focus: $value#{$imp};
	-moz-user-input: $value#{$imp};
	-moz-user-modify: $value#{$imp};
	-moz-user-select: $value#{$imp};
	-moz-window-dragging: $value#{$imp};
	-moz-window-shadow: $value#{$imp};
	-webkit-align-content: $value#{$imp};
	-webkit-align-items: $value#{$imp};
	-webkit-align-self: $value#{$imp};
	-webkit-alt: $value#{$imp};
	-webkit-animation: $value#{$imp};
	-webkit-animation-delay: $value#{$imp};
	-webkit-animation-direction: $value#{$imp};
	-webkit-animation-duration: $value#{$imp};
	-webkit-animation-fill-mode: $value#{$imp};
	-webkit-animation-iteration-count: $value#{$imp};
	-webkit-animation-name: $value#{$imp};
	-webkit-animation-play-state: $value#{$imp};
	-webkit-animation-timing-function: $value#{$imp};
	-webkit-app-region: $value#{$imp};
	-webkit-appearance: $value#{$imp};
	-webkit-backdrop-filter: $value#{$imp};
	-webkit-backface-visibility: $value#{$imp};
	-webkit-background-blend-mode: $value#{$imp};
	-webkit-background-clip: $value#{$imp};
	-webkit-background-composite: $value#{$imp};
	-webkit-background-origin: $value#{$imp};
	-webkit-background-size: $value#{$imp};
	-webkit-blend-mode: $value#{$imp};
	-webkit-border-bottom-left-radius: $value#{$imp};
	-webkit-border-bottom-right-radius: $value#{$imp};
	-webkit-border-fit: $value#{$imp};
	-webkit-border-horizontal-spacing: $value#{$imp};
	-webkit-border-image: $value#{$imp};
	-webkit-border-radius: $value#{$imp};
	-webkit-border-top-left-radius: $value#{$imp};
	-webkit-border-top-right-radius: $value#{$imp};
	-webkit-border-vertical-spacing: $value#{$imp};
	-webkit-box-align: $value#{$imp};
	-webkit-box-decoration-break: $value#{$imp};
	-webkit-box-direction: $value#{$imp};
	-webkit-box-flex: $value#{$imp};
	-webkit-box-flex-group: $value#{$imp};
	-webkit-box-lines: $value#{$imp};
	-webkit-box-ordinal-group: $value#{$imp};
	-webkit-box-orient: $value#{$imp};
	-webkit-box-pack: $value#{$imp};
	-webkit-box-reflect: $value#{$imp};
	-webkit-box-shadow: $value#{$imp};
	-webkit-box-sizing: $value#{$imp};
	-webkit-clip-path: $value#{$imp};
	-webkit-color-correction: $value#{$imp};
	-webkit-column-axis: $value#{$imp};
	-webkit-column-break-after: $value#{$imp};
	-webkit-column-break-before: $value#{$imp};
	-webkit-column-break-inside: $value#{$imp};
	-webkit-column-count: $value#{$imp};
	-webkit-column-gap: $value#{$imp};
	-webkit-column-progression: $value#{$imp};
	-webkit-column-rule: $value#{$imp};
	-webkit-column-rule-color: $value#{$imp};
	-webkit-column-rule-style: $value#{$imp};
	-webkit-column-rule-width: $value#{$imp};
	-webkit-column-span: $value#{$imp};
	-webkit-column-width: $value#{$imp};
	-webkit-cursor-visibility: $value#{$imp};
	-webkit-dashboard-region: $value#{$imp};
	-webkit-filter: $value#{$imp};
	-webkit-flex-basis: $value#{$imp};
	-webkit-flex-direction: $value#{$imp};
	-webkit-flex-flow: $value#{$imp};
	-webkit-flex-grow: $value#{$imp};
	-webkit-flex-shrink: $value#{$imp};
	-webkit-flex-wrap: $value#{$imp};
	-webkit-flow-from: $value#{$imp};
	-webkit-flow-into: $value#{$imp};
	-webkit-font-kerning: $value#{$imp};
	-webkit-font-smoothing: $value#{$imp};
	-webkit-font-variant-ligatures: $value#{$imp};
	-webkit-grid-after: $value#{$imp};
	-webkit-grid-auto-columns: $value#{$imp};
	-webkit-grid-auto-flow: $value#{$imp};
	-webkit-grid-auto-rows: $value#{$imp};
	-webkit-grid-before: $value#{$imp};
	-webkit-grid-definition-columns: $value#{$imp};
	-webkit-grid-definition-rows: $value#{$imp};
	-webkit-grid-end: $value#{$imp};
	-webkit-grid-start: $value#{$imp};
	-webkit-highlight: $value#{$imp};
	-webkit-hyphenate-character: $value#{$imp};
	-webkit-hyphenate-limit-after: $value#{$imp};
	-webkit-hyphenate-limit-before: $value#{$imp};
	-webkit-hyphenate-limit-lines: $value#{$imp};
	-webkit-hyphens: $value#{$imp};
	-webkit-initial-letter: $value#{$imp};
	-webkit-justify-content: $value#{$imp};
	-webkit-justify-self: $value#{$imp};
	-webkit-line-align: $value#{$imp};
	-webkit-line-box-contain: $value#{$imp};
	-webkit-line-break: $value#{$imp};
	-webkit-line-clamp: $value#{$imp};
	-webkit-line-grid: $value#{$imp};
	-webkit-line-snap: $value#{$imp};
	-webkit-locale: $value#{$imp};
	-webkit-margin-after-collapse: $value#{$imp};
	-webkit-margin-before-collapse: $value#{$imp};
	-webkit-marquee-direction: $value#{$imp};
	-webkit-marquee-increment: $value#{$imp};
	-webkit-marquee-repetition: $value#{$imp};
	-webkit-marquee-style: $value#{$imp};
	-webkit-mask-attachment: $value#{$imp};
	-webkit-mask-box-image: $value#{$imp};
	-webkit-mask-box-image-outset: $value#{$imp};
	-webkit-mask-box-image-repeat: $value#{$imp};
	-webkit-mask-box-image-slice: $value#{$imp};
	-webkit-mask-box-image-source: $value#{$imp};
	-webkit-mask-box-image-width: $value#{$imp};
	-webkit-mask-clip: $value#{$imp};
	-webkit-mask-composite: $value#{$imp};
	-webkit-mask-image: $value#{$imp};
	-webkit-mask-origin: $value#{$imp};
	-webkit-mask-position: $value#{$imp};
	-webkit-mask-repeat: $value#{$imp};
	-webkit-mask-size: $value#{$imp};
	-webkit-mask-source-type: $value#{$imp};
	-webkit-nbsp-mode: $value#{$imp};
	-webkit-order: $value#{$imp};
	-webkit-perspective: $value#{$imp};
	-webkit-perspective-origin: $value#{$imp};
	-webkit-print-color-adjust: $value#{$imp};
	-webkit-region-break-after: $value#{$imp};
	-webkit-region-break-before: $value#{$imp};
	-webkit-region-break-inside: $value#{$imp};
	-webkit-region-fragment: $value#{$imp};
	-webkit-rtl-ordering: $value#{$imp};
	-webkit-scroll-snap-coordinate: $value#{$imp};
	-webkit-scroll-snap-destination: $value#{$imp};
	-webkit-scroll-snap-points-x: $value#{$imp};
	-webkit-scroll-snap-points-y: $value#{$imp};
	-webkit-scroll-snap-type: $value#{$imp};
	-webkit-shape-image-threshold: $value#{$imp};
	-webkit-shape-inside: $value#{$imp};
	-webkit-shape-margin: $value#{$imp};
	-webkit-shape-outside: $value#{$imp};
	-webkit-shape-padding: $value#{$imp};
	-webkit-svg-shadow: $value#{$imp};
	-webkit-tap-highlight-color: $value#{$imp};
	-webkit-text-combine: $value#{$imp};
	-webkit-text-decoration-color: $value#{$imp};
	-webkit-text-decoration-line: $value#{$imp};
	-webkit-text-decoration-skip: $value#{$imp};
	-webkit-text-decoration-style: $value#{$imp};
	-webkit-text-decorations-in-effect: $value#{$imp};
	-webkit-text-emphasis-color: $value#{$imp};
	-webkit-text-emphasis-position: $value#{$imp};
	-webkit-text-emphasis-style: $value#{$imp};
	-webkit-text-fill-color: $value#{$imp};
	-webkit-text-orientation: $value#{$imp};
	-webkit-text-security: $value#{$imp};
	-webkit-text-size-adjust: $value#{$imp};
	-webkit-text-stroke-color: $value#{$imp};
	-webkit-text-stroke-width: $value#{$imp};
	-webkit-text-underline-position: $value#{$imp};
	-webkit-text-zoom: $value#{$imp};
	-webkit-transform: $value#{$imp};
	-webkit-transform-origin: $value#{$imp};
	-webkit-transform-style: $value#{$imp};
	-webkit-transition: $value#{$imp};
	-webkit-transition-delay: $value#{$imp};
	-webkit-transition-duration: $value#{$imp};
	-webkit-transition-property: $value#{$imp};
	-webkit-transition-timing-function: $value#{$imp};
	-webkit-user-drag: $value#{$imp};
	-webkit-user-modify: $value#{$imp};
	-webkit-user-select: $value#{$imp};
	-webkit-wrap-flow: $value#{$imp};
	-webkit-wrap-through: $value#{$imp};
	-webkit-writing-mode: $value#{$imp};
	accelerator: $value#{$imp};
	align-content: $value#{$imp};
	align-items: $value#{$imp};
	align-self: $value#{$imp};
	alignment-baseline: $value#{$imp};
	alt: $value#{$imp};
	animation-delay: $value#{$imp};
	animation-direction: $value#{$imp};
	animation-duration: $value#{$imp};
	animation-fill-mode: $value#{$imp};
	animation-iteration-count: $value#{$imp};
	animation-name: $value#{$imp};
	animation-play-state: $value#{$imp};
	animation-timing-function: $value#{$imp};
	backface-visibility: $value#{$imp};
	background-attachment: $value#{$imp};
	background-blend-mode: $value#{$imp};
	background-clip: $value#{$imp};
	background-color: $value#{$imp};
	background-image: $value#{$imp};
	background-origin: $value#{$imp};
	background-position: $value#{$imp};
	background-position-x: $value#{$imp};
	background-position-y: $value#{$imp};
	background-repeat: $value#{$imp};
	background-size: $value#{$imp};
	baseline-shift: $value#{$imp};
	border-bottom-color: $value#{$imp};
	border-bottom-left-radius: $value#{$imp};
	border-bottom-right-radius: $value#{$imp};
	border-bottom-style: $value#{$imp};
	border-bottom-width: $value#{$imp};
	border-collapse: $value#{$imp};
	border-image-outset: $value#{$imp};
	border-image-repeat: $value#{$imp};
	border-image-slice: $value#{$imp};
	border-image-source: $value#{$imp};
	border-image-width: $value#{$imp};
	border-left-color: $value#{$imp};
	border-left-style: $value#{$imp};
	border-left-width: $value#{$imp};
	border-right-color: $value#{$imp};
	border-right-style: $value#{$imp};
	border-right-width: $value#{$imp};
	border-spacing: $value#{$imp};
	border-top-color: $value#{$imp};
	border-top-left-radius: $value#{$imp};
	border-top-right-radius: $value#{$imp};
	border-top-style: $value#{$imp};
	border-top-width: $value#{$imp};
	bottom: $value#{$imp};
	box-decoration-break: $value#{$imp};
	box-shadow: $value#{$imp};
	box-sizing: $value#{$imp};
	break-after: $value#{$imp};
	break-before: $value#{$imp};
	break-inside: $value#{$imp};
	buffered-rendering: $value#{$imp};
	caption-side: $value#{$imp};
	clear: $value#{$imp};
	clip: $value#{$imp};
	clip-path: $value#{$imp};
	clip-rule: $value#{$imp};
	color: $value#{$imp};
	color-interpolation: $value#{$imp};
	color-interpolation-filters: $value#{$imp};
	color-rendering: $value#{$imp};
	column-count: $value#{$imp};
	column-fill: $value#{$imp};
	column-gap: $value#{$imp};
	column-progression: $value#{$imp};
	column-rule-color: $value#{$imp};
	column-rule-style: $value#{$imp};
	column-rule-width: $value#{$imp};
	column-span: $value#{$imp};
	column-width: $value#{$imp};
	content: $value#{$imp};
	counter-increment: $value#{$imp};
	counter-reset: $value#{$imp};
	cursor: $value#{$imp};
	cx: $value#{$imp};
	cy: $value#{$imp};
	d: $value#{$imp};
	direction: $value#{$imp};
	display: $value#{$imp};
	dominant-baseline: $value#{$imp};
	empty-cells: $value#{$imp};
	enable-background: $value#{$imp};
	fill: $value#{$imp};
	fill-opacity: $value#{$imp};
	fill-rule: $value#{$imp};
	filter: $value#{$imp};
	flex-basis: $value#{$imp};
	flex-direction: $value#{$imp};
	flex-grow: $value#{$imp};
	flex-shrink: $value#{$imp};
	flex-wrap: $value#{$imp};
	float: $value#{$imp};
	flood-color: $value#{$imp};
	flood-opacity: $value#{$imp};
	font-family: $value#{$imp};
	font-feature-settings: $value#{$imp};
	font-kerning: $value#{$imp};
	font-language-override: $value#{$imp};
	font-size: $value#{$imp};
	font-size-adjust: $value#{$imp};
	font-stretch: $value#{$imp};
	font-style: $value#{$imp};
	font-synthesis: $value#{$imp};
	font-variant: $value#{$imp};
	font-variant-alternates: $value#{$imp};
	font-variant-caps: $value#{$imp};
	font-variant-east-asian: $value#{$imp};
	font-variant-ligatures: $value#{$imp};
	font-variant-numeric: $value#{$imp};
	font-variant-position: $value#{$imp};
	font-weight: $value#{$imp};
	glyph-orientation-horizontal: $value#{$imp};
	glyph-orientation-vertical: $value#{$imp};
	height: $value#{$imp};
	hyphens: $value#{$imp};
	image-orientation: $value#{$imp};
	image-rendering: $value#{$imp};
	ime-mode: $value#{$imp};
	isolation: $value#{$imp};
	justify-content: $value#{$imp};
	justify-items: $value#{$imp};
	justify-self: $value#{$imp};
	kerning: $value#{$imp};
	layout-grid-char: $value#{$imp};
	layout-grid-line: $value#{$imp};
	layout-grid-mode: $value#{$imp};
	layout-grid-type: $value#{$imp};
	left: $value#{$imp};
	letter-spacing: $value#{$imp};
	lighting-color: $value#{$imp};
	line-break: $value#{$imp};
	line-height: $value#{$imp};
	list-style-image: $value#{$imp};
	list-style-position: $value#{$imp};
	list-style-type: $value#{$imp};
	margin-bottom: $value#{$imp};
	margin-left: $value#{$imp};
	margin-right: $value#{$imp};
	margin-top: $value#{$imp};
	marker: $value#{$imp};
	marker-end: $value#{$imp};
	marker-mid: $value#{$imp};
	marker-offset: $value#{$imp};
	marker-start: $value#{$imp};
	mask: $value#{$imp};
	mask-type: $value#{$imp};
	max-height: $value#{$imp};
	max-width: $value#{$imp};
	min-height: $value#{$imp};
	min-width: $value#{$imp};
	mix-blend-mode: $value#{$imp};
	motion-offset: $value#{$imp};
	motion-path: $value#{$imp};
	motion-rotation: $value#{$imp};
	object-fit: $value#{$imp};
	object-position: $value#{$imp};
	opacity: $value#{$imp};
	order: $value#{$imp};
	orphans: $value#{$imp};
	outline-color: $value#{$imp};
	outline-offset: $value#{$imp};
	outline-style: $value#{$imp};
	outline-width: $value#{$imp};
	overflow: $value#{$imp};
	overflow-wrap: $value#{$imp};
	overflow-x: $value#{$imp};
	overflow-y: $value#{$imp};
	padding-bottom: $value#{$imp};
	padding-left: $value#{$imp};
	padding-right: $value#{$imp};
	padding-top: $value#{$imp};
	page-break-after: $value#{$imp};
	page-break-before: $value#{$imp};
	page-break-inside: $value#{$imp};
	paint-order: $value#{$imp};
	perspective: $value#{$imp};
	perspective-origin: $value#{$imp};
	pointer-events: $value#{$imp};
	position: $value#{$imp};
	quotes: $value#{$imp};
	r: $value#{$imp};
	resize: $value#{$imp};
	right: $value#{$imp};
	ruby-align: $value#{$imp};
	ruby-overhang: $value#{$imp};
	ruby-position: $value#{$imp};
	rx: $value#{$imp};
	ry: $value#{$imp};
	scroll-behavior: $value#{$imp};
	scroll-snap-coordinate: $value#{$imp};
	scroll-snap-destination: $value#{$imp};
	scroll-snap-points-x: $value#{$imp};
	scroll-snap-points-y: $value#{$imp};
	scroll-snap-type-x: $value#{$imp};
	scroll-snap-type-y: $value#{$imp};
	shape-image-threshold: $value#{$imp};
	shape-margin: $value#{$imp};
	shape-outside: $value#{$imp};
	shape-rendering: $value#{$imp};
	speak: $value#{$imp};
	stop-color: $value#{$imp};
	stop-opacity: $value#{$imp};
	stroke: $value#{$imp};
	stroke-dasharray: $value#{$imp};
	stroke-dashoffset: $value#{$imp};
	stroke-linecap: $value#{$imp};
	stroke-linejoin: $value#{$imp};
	stroke-miterlimit: $value#{$imp};
	stroke-opacity: $value#{$imp};
	stroke-width: $value#{$imp};
	tab-size: $value#{$imp};
	table-layout: $value#{$imp};
	text-align: $value#{$imp};
	text-align-last: $value#{$imp};
	text-anchor: $value#{$imp};
	text-autospace: $value#{$imp};
	text-decoration: $value#{$imp};
	text-decoration-color: $value#{$imp};
	text-decoration-line: $value#{$imp};
	text-decoration-style: $value#{$imp};
	text-emphasis-color: $value#{$imp};
	text-emphasis-position: $value#{$imp};
	text-emphasis-style: $value#{$imp};
	text-indent: $value#{$imp};
	text-justify: $value#{$imp};
	text-justify-trim: $value#{$imp};
	text-kashida: $value#{$imp};
	text-kashida-space: $value#{$imp};
	text-orientation: $value#{$imp};
	text-overflow: $value#{$imp};
	text-rendering: $value#{$imp};
	text-shadow: $value#{$imp};
	text-size-adjust: $value#{$imp};
	text-transform: $value#{$imp};
	text-underline-position: $value#{$imp};
	top: $value#{$imp};
	touch-action: $value#{$imp};
	transform: $value#{$imp};
	transform-origin: $value#{$imp};
	transform-style: $value#{$imp};
	transition-delay: $value#{$imp};
	transition-duration: $value#{$imp};
	transition-property: $value#{$imp};
	transition-timing-function: $value#{$imp};
	unicode-bidi: $value#{$imp};
	vector-effect: $value#{$imp};
	vertical-align: $value#{$imp};
	visibility: $value#{$imp};
	white-space: $value#{$imp};
	widows: $value#{$imp};
	width: $value#{$imp};
	will-change: $value#{$imp};
	word-break: $value#{$imp};
	word-spacing: $value#{$imp};
	word-wrap: $value#{$imp};
	writing-mode: $value#{$imp};
	x: $value#{$imp};
	y: $value#{$imp};
	z-index: $value#{$imp};
	zoom: $value#{$imp};
}
