@mixin auto-icon {
	a {
		&:before {
			@include icon($icon-facebook);
		}

		&[href*="facebook.com"]:before {
			content: $icon-facebook;
		}

		&[href*="twitter.com"]:before {
			content: $icon-twitter;
		}

		&[href*="linkedin.com"]:before {
			content: $icon-linkedin;
		}

		&[href*="instagram.com"]:before {
			content: $icon-instagram;
		}
	}
}
