@mixin button-color ($color) {
	// Store the base color
	$base-color: $color;

	// If more than one color is specified - use the second one as the "base"
	@if (length($color) > 1) {
		$base-color: nth($color, 2);
	}

	// If two colors are specified
	@if (length($color) > 1) {
		background-image: linear-gradient(nth($color, 1), nth($color, 2));

		// Invert gradient on active
		&:active {
			background-image: linear-gradient(nth($color, 2), nth($color, 1));
		}
	}
	// Solid background
	@else {
		background-color: $color;

		// Darken on hover (TODO: Should be configurable)
		&:hover {
			background-color: lighten($color, 10%);
		}

		// Darken even more on active
		&:active {
			background-color: lighten($color, 15%);
		}
	}

	// Invert text color if button too light
	@if (lightness($base-color) > 90) {
		color: invert($button-text-color);

		&:hover {
			color: invert($button-text-color);
		}
	}

	// Border?
	@if ($button-border-width) {
		$border-color: transparent;

		// Automatic color
		@if ($button-border-color == true) {
			$border-color: darken($base-color, 10%);
		}
		// Defined color
		@elseif ($button-border-color) {
			$border-color: $button-border-color;
		}

		// Only add border if a color is set
		@if ($button-border-color) {
			border: $button-border-width $button-border-style $border-color;
		}
		// Otherwise no border
		@else {
			border: 0;
		}
	}
	@else {
		border: 0;
	}
}

@mixin button ($color: $button-color) {
	// Gradient or solid background with hover/active states
	@include button-color($color);

	// Store the base color
	$base-color: $color;

	// If more than one color is specified - use the second one as the "base"
	@if (length($color) > 1) {
		$base-color: nth($color, 2);
	}

	// Hello
	display: inline-block;
	vertical-align: middle;

	// Size
	box-sizing: border-box;
	padding: $button-padding-vertical $button-padding-horizontal;

	// A button with only an icon
	&[class*="icon-"]:empty:not([value]) {
		padding-left: $button-empty-padding-horizontal;
		padding-right: $button-empty-padding-horizontal;
	}

	// Font styling
	@if ($button-font-family) {
		font-family: $button-font-family;
	}

	font-size: $button-font-size;
	font-weight: $button-font-weight;
	font-style: $button-font-style;

	line-height: $button-line-height;
	color: $button-text-color;
	// cursor: default;

	text-transform: $button-text-transform;
	text-decoration: none;
	text-align: center;

	@if ($button-letter-spacing) {
		letter-spacing: $button-letter-spacing;
	}

	// A link inside a button
	a,
	a:hover {
		color: $button-text-color;
		text-decoration: none;
	}

	// Make sure text color doesn't change on hover
	&:hover {
		color: $button-text-color;
		text-decoration: none;
	}

	// Radius
	@if ($button-border-radius) {
		border-radius: $button-border-radius;
	}
	@else {
		border-radius: 0;
	}

	// Transition?
	@if ($button-transition == true) {
		transition: all $transition-default $transition-easing;
	}
	@elseif ($button-transition) {
		transition: $button-transition;
	}

	// Text shadow?
	@if ($button-text-shadow == true) {
		text-shadow: -1px -1px 0 $color-shadow;
	}
	@elseif ($button-text-shadow) {
		text-shadow: $button-text-shadow;
	}
	@else {
		text-shadow: none;
	}

	// Box shadow?
	@if ($button-shadow == true) {
		box-shadow: 0 .2rem .8rem darken($base-color, 10%);
	}
	@elseif ($button-shadow) {
		box-shadow: $button-shadow;
	}
	@else {
		box-shadow: none;
	}
}

@mixin button-ghost ($color: $button-color) {
	// Store the base color
	$base-color: $color;

	// If more than one color is specified - use the second one as the "base"
	@if (length($color) > 1) {
		$base-color: nth($color, 2);
	}

	// No background on ghosts
	background-color: transparent;
	background-image: none;

	// Text in bg color
	color: $base-color;
	text-shadow: none;

	// Border
	border: $button-border-width $button-border-style $base-color;

	&:not(:hover) {
		box-shadow: none;
	}

	// If non-ghost buttons have no border - reduce ghost button's padding by as much
	@if ($button-border-color == false && $button-border-width) {
		padding: calc(#{$button-padding-vertical} - #{$button-border-width}) calc(#{$button-padding-horizontal} - #{$button-border-width});
	}

	// Hover styling
	&:hover {
		@if ($button-ghost-opacity == 1) {
			// If a gradient is specified
			@if (length($color) > 1) {
				background-image: linear-gradient(nth($color, 1), nth($color, 2));

				// Invert gradient on active
				&:active {
					background-image: linear-gradient(nth($color, 2), nth($color, 1));
				}
			}
			// Solid background
			@else {
				background-color: $color;

				// Darken even more on active
				&:active {
					background-color: lighten($color, 15%);
				}
			}

			@if (lightness($base-color) > 70) {
				color: invert($button-text-color);
			}
			@else {
				color: $button-text-color;
			}
		}
		@else {
			background-color: rgba($color, $button-ghost-opacity);

			@if ($button-ghost-opacity > .25) {
				@if (lightness($base-color) > 70) {
					color: invert($button-text-color);
				}
				@else {
					color: $button-text-color;
				}
			}
			@else {
				color: $color;
			}
		}
	}
}
