@mixin container ($width: $site-width-max) {
	$width-reached: round(($width * 100) / (strip-unit($site-width)));

	width: $site-width;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $width-reached) {
		max-width: $width;
	}
}
