@mixin container ($width: $site-width) {
	$width-reached: round(($width * 100) / (strip-unit($site-width-min)));

	display: block;
	width: $site-width-min;
	margin: $section-padding auto;

	@media (min-width: $width-reached) {
		max-width: $width;
	}
}
