@mixin flex-grid ($num: 3, $gutter: $gutter-default) {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;

	> * {
		@include flex-grid-item($num, $gutter);
	}
}

@mixin flex-grid-item ($num: 3, $gutter: $gutter-default) {
	$total-gutter: $gutter * ($num - 1);
	$width-subtract: $total-gutter / $num / 2;

	min-width: calc(#{(100% / $num)} - #{$width-subtract}); // IE needs this (and maybe FF?)
	max-width: calc(#{(100% / $num)} - #{$width-subtract}); // For Firefox(and IE?)?? (and Chrome, try a word that's longer than the width of the element)
	flex: 0 0 calc(#{(100% / $num)} - #{$width-subtract});

	margin-bottom: $gutter; // Same space between and below(????)
}

@mixin flex-width ($width: 50%, $gutter: $gutter-default) {
	@if ($gutter == false or $gutter == 0) {
		flex: 0 0 $width;
		min-width: $width;
		max-width: $width;
	}
	@else {
		flex: 0 0 calc(#{$width} - #{$gutter / 2});
		min-width: calc(#{$width} - #{$gutter / 2});
		max-width: calc(#{$width} - #{$gutter / 2});
	}
}
