@mixin grid ($cols: false, $gap: false) {
	@if ($cols) {
		--grid-cols: #{$cols};
	}

	@if ($gap) {
		--grid-gap: #{$gap};
	}

	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
}
