@mixin heading ($size: $font-size-h1) {
	display: block;
	margin: 0 0 $margin-default;

	font-weight: $font-weight-heading;
	font-size: $size;
	font-family: $font-family-heading;

	color: $color-heading;

	line-height: $line-height-heading;
	letter-spacing: $letter-spacing-heading;

	a {
		color: $color-heading;

		&:hover {
			color: $color-link-hover;
		}
	}
}
