@mixin hero ($width: $site-width, $center: false) {
	@include section($width);

	// Image (figure element) as background image
	@include figure-background;

	// Make sure image doesn't stick out
	overflow: hidden;

	// Or - if the element has a style attribute, a background image is assumed
	background-size: cover;
	background-position: 50% top;
	background-repeat: no-repeat;

	&[style] {
		// In which case the overlay needs to render on top of bg
		&:before {
			z-index: 0;
		}

		// And everything else on top of overlay
		> * {
			position: relative;
		}
	}

	// White text
	color: $color-white;

	a {
		color: $color-white;
	}

	// Centered?
	@if ($center) {
		text-align: center;
	}

	// Loads of padding in high res (TODO: Make configurable?)
	@media #{$bp-tablet} {
		padding-top: $section-padding * 3;
		padding-bottom: $section-padding * 3;
	}

	// Heading
	h1,
	h2 {
		margin: 0;
		color: $color-white;
	}

	p {
		margin: $margin-default 0 0;
		font-size: $font-size-large;
	}

	// Buttons
	nav {
		margin: $margin-large 0 0;
	}

	// Not too long text
	h1,
	h2,
	p {
		max-width: 42rem;

		@if ($center) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
