@mixin hero ($width: $site-width, $center: false) {
	@include section($width);

	// To allow for figure background
	position: relative;
	overflow: hidden;

	// Double padding in high res (TODO: Make configurable?)
	@media #{breakpoint(tablet)} {
		padding-top: $section-padding * 2;
		padding-bottom: $section-padding * 2;
	}

	// Centered?
	@if ($center) {
		text-align: center;
	}

	// White text
	color: $white;

	#{$headings},
	a:not(.button) {
		color: $white;
	}

	// Title/description
	> h1,
	> h2 {
		margin: 0;
	}

	> p {
		margin: $margin-default 0 0;
	}

	// Buttons
	> nav {
		margin-top: $margin-large;
	}

	// Potential image should be used as background
	figure {
		@include figure-background;
	}
}
