@mixin img-background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -2;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center center;
}

@mixin img-overlay {
	background: var(--color-overlay);

	display: block;
	content: "";
	margin: 0;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@mixin img-background-overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	z-index: -1;

	&::before {
		@include img-overlay;
	}

	img {
		@include img-background;
	}
}

@mixin img-ratio ($width: 16, $height: 9) {
	@include ratio($width, $height);

	position: relative;
	overflow: hidden;

	> img,
	> :not(figcaption) img {
		@include img-background;

		z-index: auto;
	}
}

@mixin ratio ($width: 16, $height: 9) {
	$padding-bottom: percentage($height / $width);

	&::before {
		display: block;
		content: "";
		padding-bottom: $padding-bottom;
	}
}
