@mixin inline-grid ($num, $bp: false, $gutter: $gutter-default) {
	font-size: 0;

	@if ($bp) {
		@media #{$bp} {
			margin-left: -#{$gutter / 2};
			margin-right: -#{$gutter / 2};
		}
	}
	@else {
		margin-left: -#{$gutter / 2};
		margin-right: -#{$gutter / 2};
	}

	> * {
		font-size: $font-size-default;
		display: inline-block;
		vertical-align: top;
		width: 100%;

		@if ($bp) {
			@media #{$bp} {
				margin: 0 #{$gutter / 2};
				width: calc(#{100% / $num} - #{$gutter});
			}
		}
		@else {
			margin: 0 #{$gutter / 2};
			width: calc(#{100% / $num} - #{$gutter});
		}
	}
}
