@mixin section ($width: $site-width-max) {
	@include clearfix;
	@include section-centering($width);

	display: block;
	position: relative;

	margin: 0;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

@mixin section-centering ($width: $site-width-max) {
	$width-reached: round(($width * 100) / (strip-unit($site-width)));

	padding-left: $site-padding;
	padding-right: $site-padding;

	@media (min-width: $width-reached) {
		padding-left: calc(50% - #{$width / 2});
		padding-right: calc(50% - #{$width / 2});
	}
}
