@mixin section ($width: $site-width, $unit: '%') {
	@include section-centering($width, $unit);

	margin: 0;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

@mixin section-centering ($width: $site-width, $unit: '%') {
	$width-reached: round(($width * 100) / (strip-unit($site-width-min)));

	padding-left: $site-padding;
	padding-right: $site-padding;

	@media (min-width: $width-reached) {
		padding-left: calc(50#{$unit} - #{$width / 2});
		padding-right: calc(50#{$unit} - #{$width / 2});
	}
}
