/**
 * @section
 *
 * Creates a full width section with centered content based on preferred site width
 */
@mixin section ($width: $site-width-max) {
	@include clearfix;
	@include section-centering($width);

	display: block;
	position: relative;

	margin: 0;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

/**
 * @section-centering
 *
 * Takes care of centering the section content using padding and calc
 */
@mixin section-padding-left ($width: $site-width-max) {
	padding-left: $site-padding;

	@media (min-width: $site-width-reached) {
		padding-left: calc(50% - #{$width / 2});
	}
}

@mixin section-padding-right ($width: $site-width-max) {
	padding-right: $site-padding;

	@media (min-width: $site-width-reached) {
		padding-right: calc(50% - #{$width / 2});
	}
}

@mixin section-centering ($width: $site-width-max) {
	@include section-padding-left($width);
	@include section-padding-right($width);
}
