@mixin semi-underline ($color: $color-text, $size: 2px, $margin: .5rem, $center: true, $width: 5rem) {
	@if ($center) {
		text-align: center;
	}

	&:after {
		background-color: $color;

		display: block;
		content: "";

		width: $width;
		height: $size;
		margin-top: $margin;

		position: relative;
		left: 0;

		@if ($center) {
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}
