@mixin heading ($size: var(--font-size-h1), $color: var(--color-heading)) {
	display: block;
	margin: 0 0 var(--spacing-default);

	font-weight: var(--font-weight-heading);
	font-family: var(--font-family-heading);

	line-height: var(--line-height-heading);
	letter-spacing: var(--letter-spacing-heading);

	@if ($size) {
		font-size: $size;
	}

	@if ($color) {
		color: $color;
	}

	a {
		color: currentColor;
	}
}

@mixin heading-scale ($scale: 1) {
	--font-size-h1: calc(var(--font-size-h1) * #{$scale});
	--font-size-h2: calc(var(--font-size-h2) * #{$scale});
	--font-size-h3: calc(var(--font-size-h3) * #{$scale});
	--font-size-h4: calc(var(--font-size-h4) * #{$scale});
	--font-size-h5: calc(var(--font-size-h5) * #{$scale});
	--font-size-h6: calc(var(--font-size-h6) * #{$scale});
}

@mixin text ($size: var(--font-size-default), $color: var(--color-text)) {
	font-family: var(--font-family-default);
	font-weight: var(--font-weight-default);

	letter-spacing: var(--letter-spacing-default);
	line-height: var(--line-height-default);
	text-transform: none; // TODO: Probably shouldn't be hard-coded

	@if ($size) {
		font-size: $size;
	}

	@if ($color) {
		color: $color;
	}
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hyphens {
	word-wrap: break-word;
	hyphens: auto;
}
